[submodule "Libs/glfw"]
	path = Libs/glfw
	url = https://github.com/glfw/glfw
[submodule "Libs/entt"]
	path = Libs/entt
	url = https://github.com/skypjack/entt
[submodule "Libs/imgui"]
	path = Libs/imgui
	url = https://github.com/STEN1/imgui
	branch = docking
[submodule "Libs/simdjson"]
	path = Libs/simdjson
	url = https://github.com/simdjson/simdjson
[submodule "Libs/bullet3"]
	path = Libs/bullet3
	url = https://github.com/bulletphysics/bullet3
[submodule "Libs/assimp"]
	path = Libs/assimp
	url = https://github.com/assimp/assimp
[submodule "Libs/openal-soft"]
	path = Libs/openal-soft
	url = https://github.com/kcat/openal-soft
[submodule "Libs/simdjson"]
	path = Libs/simdjson
	url = https://github.com/simdjson/simdjson

[submodule "Libs/ImGuizmo"]
	path = Libs/ImGuizmo
	url = https://github.com/STEN1/ImGuizmo
